.ct-preloader
  .ct-preloader-inner
    .ct-preloader-logo
      %img{:alt => "", :src => "#{asset_path 'custom/logo/logo.png' }", width: 128}/
      %h6.ct-preloader-title Идет загрузка, подождите...
      .loading
        .loading-line
        .loading-break.loading-dot-1
        .loading-break.loading-dot-2
        .loading-break.loading-dot-3
.ct-cart
  .ct-cart__inner
    .ct-cart__button.ct-js-cart__button
      %i.fa.fa-shopping-cart
    .ct-cart__message
      %i.fa.fa-thumbs-o-up
    .ct-cart__product
#ct-js-wrapper.ct-js-wrapper.ct-pageWrapper
  / Navigation
  =render 'front/navigation/header'


  =render 'front/static_pages/home_screens/main'


  =render 'front/static_pages/home_screens/fast_order'

  
  =render 'front/static_pages/home_screens/moreinfo'

  
  =render 'front/static_pages/home_screens/features'

  
  =render 'front/static_pages/home_screens/gallery'

  
  =render 'front/static_pages/home_screens/product'


  =render 'front/static_pages/home_screens/press'


  %section#order.ct-dividerSection.ct-dividerSection--currency.ct-dividerSection--motive.ct-call-to-action--type1.ct-u-padding-both-70
    .inner
      .container
        .row
          .col-sm-12.text-center-lg
            .ct-dividerSection--left
              .ct-iconBox.ct-iconBox--type3.ct-iconBox--white.media
                .media-body
                  %h4.ct-iconBox-title Оформить заказ
                  %p.ct-iconBox-description Укажите свои данные и наши менеджеры свяжутся с вами. Стоимость монитора - 84.950₽.

  
  =render 'front/static_pages/home_screens/order'
  / Footer
  =render 'front/navigation/footer'
/ Mobile Menu //
.ct-menu-mobile
  %nav.navbar.navbar-dark
    .container
      .row
        .col-xs-4.col-sm-4.hidden-xs
          %ul.list-unstyled.list-inline.ct-socials--rounded
            %li
              %a{:href => "#"}
                %i.fa.fa-facebook
            %li
              %a{:href => "#"}
                %i.fa.fa-twitter
            %li
              %a{:href => "#"}
                %i.fa.fa-instagram
        .col-xs-7.col-sm-4
          .navbar-header
            %a.navbar-brand{:href => "index.html"}
              %img{:alt => "", :src => "#{asset_path 'stock/content/beacon/distrupt-logo-light.png' }"}/
        .col-xs-5.col-sm-4
          %ul.nav.navbar-nav{:role => "menu"}
            %li.ct-productCart-link
              %a
                %i.fa.fa-shopping-cart
            %li.nav-item-toggle
              %a
                %i.fa.fa-bars
.navbar-beacon
  %ul.list-unstyled
    %li.nav-item.dropdown
      %a{:href => "#"}
        Home
        %i.fa.fa-angle-double-down
      %ul.dropdown-menu{:role => "menu"}
        %li.nav-item
          %a{:href => "index3.html"} Smartwatch
        %li.nav-item
          %a{:href => "index.html"} Drone
        %li.nav-item
          %a{:href => "index5.html"} Smartphone
        %li.nav-item
          %a{:href => "index2.html"} Beacon
        %li.nav-item
          %a{:href => "index4.html"} VR
    %li.nav-item
      %a{"data-scroll" => "#features", :href => "#features"} Features
    %li.nav-item
      %a{"data-scroll" => "#product", :href => "#product"} Product
    %li.nav-item.dropdown
      %a{:href => "services.html"}
        Pages
        %i.fa.fa-angle-double-down
      %ul.dropdown-menu{:role => "menu"}
        %li.nav-item
          %a{:href => "services.html"} Services
        %li.nav-item
          %a{:href => "404.html"} 404 page
        %li.nav-item
          %a{:href => "press-kit.html"} Press kit
        %li.nav-item
          %a{:href => "shop-locator.html"} Shop locator
        %li.nav-item
          %a{:href => "faq.html"} FAQ
        %li.nav-item
          %a{:href => "investors.html"} Investors
        %li.nav-item
          %a{:href => "privacy-policy.html"} Privacy Policy
        %li.nav-item
          %a{:href => "terms-conditions.html"} Terms &amp; conditions
    %li.nav-item
      %a{:href => "about-us.html"} About us
    %li.nav-item
      %a{:href => "contact-us.html"} Contact
  %ul.list-unstyled.list-inline.ct-socials--rounded
    %li
      %a{:href => "#"}
        %i.fa.fa-facebook
    %li
      %a{:href => "#"}
        %i.fa.fa-twitter
    %li
      %a{:href => "#"}
        %i.fa.fa-instagram
