%nav.ct-footer-nav
  .container
    .row
      .col-sm-4
        .widget
          .widget-inner
            %img.ct-footer-brand{:alt => "", :src => "#{asset_path 'stock/content/drone/distrupt-logo-light.png' } "}/
      .col-sm-8
        .row
          .col-sm-3.col-xs-6
            .widget
              .widget-inner
                %ul.list-unstyled.ct-menu-footer
                  %li
                    %a{:href => "index.html"} Home
                  %li
                    %a{:href => "services.html"} Services
          .col-sm-3.col-xs-6
            .widget
              .widget-inner
                %ul.list-unstyled.ct-menu-footer
                  %li
                    %a{:href => "faq.html"} faq
                  %li
                    %a{:href => "privacy-policy.html"} privacy policy
          .col-sm-3.col-xs-6
            .widget
              .widget-inner
                %ul.list-unstyled.ct-menu-footer
                  %li
                    %a{:href => "about-us.html"} About us
                  %li
                    %a{:href => "contact-us.html"} Contact us
          .col-sm-3.col-xs-6
            .widget
              .widget-inner
                %ul.list-unstyled.ct-menu-footer
                  %li
                    %a{:href => "press-kit.html"} Press kit
                  %li
                    %a{:href => "investors.html"} Investors