%nav.navbar.navbar-default.navbar-light.navbar-desktop.navbar--animated.navbar-top{"data-height" => "80"}
  .container
    .row
      .col-sm-12
        .navbar-header
          %a.navbar-brand{:href => root_path}
            %img{:alt => "", :src => "#{asset_path 'stock/content/smartphone/logo-light.png' }"}/
        %ul.navbar-buttons.list-unstyled.list-inline.pull-right
          %li
            %a.btn-group.btn-group--separated{"data-scroll" => "#order", :href => "#order", onclick: "yaCounter49547431.reachGoal('SCROLL_TO_ORDER'); return true;"}
              %span.btn.btn-xs.btn-transparent.btn--white.btn-separated Заказать
              %span.btn.btn-xs.btn-transparent.btn--white.btn-separated
                %i.fa.fa-shopping-cart
        %ul.nav.navbar-nav.ct-navbar--fadeIn{:role => "menu"}
          %li.nav-item
            %a Главная
          %li.nav-item
            %a{"data-scroll" => "#features", :href => "#features"} Характеристики
          %li.nav-item
            %a{"data-scroll" => "#product", :href => "#product"} Технические данные
          %li.nav-item
            %a{"data-scroll" => "#press", :href => "#press"} Обзоры прессы
          / %li.nav-item
          /   %a{:href => "about-us.html"} About us
          / %li.nav-item
          /   %a{:href => "contact-us.html"} Contact