%section#features.ct-u-padding-top-70.ct-u-padding-bottom-80
  .container
    .row
      .col-md-6.col-md-offset-3.ct-u-padding-bottom-80
        .ct-sectionHeader.ct-sectionHeader--typeDarken.ct-sectionHeader--subtitleItalic.text-center
          %h3.ct-sectionHeader-title Характеристики
          %h4.ct-sectionHeader-subtitle Ориентированность этого монитора на компьютерные игры подчеркивает поддержка таких технологий как NVIDIA G-Sync, повышенная частота обновления экрана (100 Гц), а также агрессивный дизайн в оригинальном стиле ROG.
  .container
    .row
      .col-md-6
        .row
          .col-sm-4
            .ct-iconBox.ct-iconBox--type1
              .ct-iconBox-icon
                / %i.fa.fa-shield
                %i.fa.fa-audio-description
              %h6.ct-iconBox-title Вид
              %p.ct-iconBox-description Привлекательный дизайн
          .col-sm-4
            .ct-iconBox.ct-iconBox--type1
              .ct-iconBox-icon
                %i.fa.fa-thumbs-o-up
              %h6.ct-iconBox-title Картинка
              %p.ct-iconBox-description Высокое качество изображения
          .col-sm-4
            .ct-iconBox.ct-iconBox--type1
              .ct-iconBox-icon
                / %i.fa.fa-globe
                %i.fa.fa-gamepad
              %h6.ct-iconBox-title Погружение 
              %p.ct-iconBox-description Опимизирован под игры
        .ct-divider-line--type2.ct-u-margin-bottom-30
          .ct-divider-line-inner
        .row
          .col-sm-4
            .ct-iconBox.ct-iconBox--type1
              %h6.ct-iconBox-title GamePlus
              %p.ct-iconBox-description Геймерские функции - GameVisual, Crosshair, Timer
              .ct-iconBox-icon
                %i.fa.fa-heart-o
          .col-sm-4
            .ct-iconBox.ct-iconBox--type1
              %h6.ct-iconBox-title Без рамок
              %p.ct-iconBox-description Для мультимониторных конфигураций
              .ct-iconBox-icon
                %i.fa.fa-film
          .col-sm-4
            .ct-iconBox.ct-iconBox--type1
              %h6.ct-iconBox-title Для твоих глаз
              %p.ct-iconBox-description Продуманная эргономика бережет твои глаза
              .ct-iconBox-icon
                %i.fa.fa-eye
      .col-md-6
        %img{:alt => "", :src => "#{asset_path 'custom/product/features.png' }"}/