%header#home.ct-u-display-table.ct-mediaSection.ct-u-padding-both-50{"data-background" => "#{asset_path 'custom/product/evil_ryu-wallpaper-1920x1080.jpg' } ", "data-height" => "100%", "data-parallax" => "50"}
  .inner
    .container
      .row
        .col-md-6.text-right.text-center-md
          %img{:alt => "", :src => "#{asset_path 'custom/product/showcases_05.png' }"}/
        .col-md-6
          .ct-pageHeader.ct-pageHeader--type1
            %h1.ct-pageHeader-title.ct-u-color--white
              Выходи
              %br>/
              на
              %span.ct-u-colorMotive.inline.ct-u-font-italic новый
              уровень игры
          .ct-divider-line-type3.ct-u-margin-both-30
            .ct-divider-icon
              / %i.fa.fa-shield
              %i.fa.fa-desktop
            %span.ct-u-color--white.ct-u-font-weight--700 Расширяя горизонты
          %p.ct-u-color--white.ct-u-margin-bottom-40 Swift PG348Q - это новая флагманская модель в линейке геймерских мониторов ROG, обладающая фантастическим изогнутым экраном с 34-дюймовой IPS-панелью разрешением 3440х1440 пикселей. 
          %a.btn.btn-transparent.btn--withIcon.btn--white{:href => "#order", onclick: "yaCounter49547431.reachGoal('SCROLL_TO_ORDER'); return true;"}
            купить
            %i.fa.fa-caret-right