%section{"data-background" => "#262626"}
  .container
    .row#delivery
      .col-sm-12
        .ct-address.ct-address--col3.ct-address--descendingMotive
          .inner
            %a.ct-address-item{:href => "#"}
              .ct-widget
                .ct-widget-icon
                  %i.fa.fa-truck
                .ct-widget-content
                  %h4.ct-widget-title Доставка
                  %p.ct-widget-description 800 руб. до МКАД
                  %p.ct-widget-description 800 + 50 руб/км от МКАД
            %a.ct-address-item{:href => "mailto:store@handsomecake.com"}
              .ct-widget
                .ct-widget-icon
                  %i.fa.fa-envelope-o
                .ct-widget-content
                  %h4.ct-widget-title Эл. почта
                  %p.ct-widget-description store@handsomecake.com
                  %p.ct-widget-description order@handsomecake.com
            .ct-address-item
              .ct-widget
                .ct-widget-icon
                  %i.fa.fa-clock-o
                .ct-widget-content
                  %h4.ct-widget-title Время доставки
                  %p.ct-widget-description ПН-ПТ 19:00 - 24:00
                  %p.ct-widget-description СБ, ВС: 10:00 - 24:00
          .ct-address--footer
            %i.fa.fa-home
            %span ул. Новый Арбат 15с2, офис 202. 119019 Москва, Россия.


    .row.ct-u-padding-top-80.ct-u-padding-bottom-75
      .col-md-3.col-sm-12
        .ct-iconBox.ct-iconBox--type4.media.ct-iconBox--white
          .media-left
            .ct-iconBox-icon
              %i.fa.fa-envelope-o
          .media-body
            %h6.ct-iconBox-title Заполните форму
            %p.ct-iconBox-description
      .col-md-9.col-sm-12.ct-u-padding-top-25
        .successMessage.alert.alert-success.alert-dismissible{:role => "alert", :style => "display:none"}
          Спасибо! Ваша заявка успешно зарегистрирована в системе.
          %button.close{"aria-hidden" => "true", "aria-label" => "Close", "data-dismiss" => "alert", :type => "button"} x
        .successError.alert.alert-danger.alert-dismissible{:role => "alert", :style => "display:none"}
          Что-то пошло не так( Попробуйте заполнить форму ещё раз.
          %button.close{"aria-hidden" => "true", "aria-label" => "Close", "data-dismiss" => "alert", :type => "button"} x
        
        =form_with model: @request, class: 'ct-contactForm validateIt', data: {'email-subject' => "Disrupt"} do |f|
          .row
            .col-sm-6
              .form-group
                =f.text_field :name, id: 'cf-name', class: 'form-control', placeholder: 'Имя*', required: 'required'
                %label.sr-only{:for => "cf-name"} Имя*
            .col-sm-6
              .form-group
                =f.email_field :email, id: 'cf-email', class: 'form-control', placeholder: 'Эл. почта'
                %label.sr-only{:for => "cf-email"} Эл. почта
          .row
            .col-sm-12
              .form-group
                =f.text_area :phone, id: 'cf-message', class: 'form-control', placeholder: 'Телефон*', rows: 1, required: 'required'
                .ct-contactForm-requiredMessage *Обязательные поля
                =button_tag 'Оформить заказ', class: 'btn btn--withIcon' do
                  Оформить заказ
                  %i.fa.fa-caret-right
                %label.sr-only{:for => "cf-message"} Телефон*
