%section{"data-background" => "#262626"}
  .container
    .row.ct-u-padding-top-80.ct-u-padding-bottom-75
      .col-md-3.col-sm-12
        .ct-iconBox.ct-iconBox--type4.media.ct-iconBox--white
          .media-left
            .ct-iconBox-icon
              %i.fa.fa-envelope-o
          .media-body
            %h6.ct-iconBox-title Заполните форму
            %p.ct-iconBox-description
      .col-md-9.col-sm-12.ct-u-padding-top-25
        .successMessage.alert.alert-success.alert-dismissible{:role => "alert", :style => "display:none"}
          Спасибо! Ваша заявка успешно зарегистрирована в системе.
          %button.close{"aria-hidden" => "true", "aria-label" => "Close", "data-dismiss" => "alert", :type => "button"} x
        .successError.alert.alert-danger.alert-dismissible{:role => "alert", :style => "display:none"}
          Что-то пошло не так( Попробуйте заполнить форму ещё раз.
          %button.close{"aria-hidden" => "true", "aria-label" => "Close", "data-dismiss" => "alert", :type => "button"} x
        
        =form_with model: @request, class: 'ct-contactForm validateIt', data: {'email-subject' => "Disrupt"} do |f|
          .row
            .col-sm-6
              .form-group
                =f.text_field :name, id: 'cf-name', class: 'form-control', placeholder: 'Имя*', required: 'required'
                %label.sr-only{:for => "cf-name"} Имя*
            .col-sm-6
              .form-group
                =f.email_field :email, id: 'cf-email', class: 'form-control', placeholder: 'Эл. почта'
                %label.sr-only{:for => "cf-email"} Эл. почта
          .row
            .col-sm-12
              .form-group
                =f.text_area :phone, id: 'cf-message', class: 'form-control', placeholder: 'Телефон*', rows: 1, required: 'required'
                .ct-contactForm-requiredMessage *Обязательные поля
                =button_tag 'Оформить заказ', class: 'btn btn--withIcon' do
                  Оформить заказ
                  %i.fa.fa-caret-right
                %label.sr-only{:for => "cf-message"} Телефон*
