%section#product.ct-u-padding-both-100
  .container
    .row
      .col-md-6.col-md-offset-3.ct-u-padding-bottom-70
        .ct-sectionHeader.ct-sectionHeader--typeDarken.ct-sectionHeader--subtitleItalic.text-center
          %h3.ct-sectionHeader-title Технические данные
          %h4.ct-sectionHeader-subtitle Цифры, данные, параметры
  .container
    .row
      .col-md-3
        %h5.h6.text-uppercase.ct-u-font-family-monsterrat.ct-u-font-weight--700.ct-u-margin-top-60.ct-u-margin-bottom-30 Экран
        %ul.ct-list-decorated.ct-u-margin-bottom-20
          %li
            %span IPS матрица
          %li
            %span Разрешение 3440×1440 (109 ppi)
          %li
            %span Соотношение сторон 21:9
          %li
            %span Курватура экрана - R3800
          %li
            %span Частота обновления - 100 Гц
          %li
            %span Время отклика - 5мс
          %li
            %span Яркость (КД/М2) - 300
      .col-md-6
        %img{:alt => "", :src => "#{asset_path 'custom/simple.jpg' }"}/
      .col-md-3
        %h5.h6.text-uppercase.ct-u-font-family-monsterrat.ct-u-font-weight--700.ct-u-margin-top-60.ct-u-margin-bottom-30 Разъемы
        %ul.ct-list-decorated.ct-u-margin-bottom-20
          %li
            %span Тип подсветки - Светодиодная W-LED
          %li
            %span Область обзора (˚) - 178
          %li
            %span Поворот по вертикали - нет
          %li
            %span Поворот по горизонтали - +50°~-50°
          %li
            %span Displayport 1.2 - 1
          %li
            %span HDMI 1.4 - 1
          %li
            %span USB 3.0 - 3